---
import Footer from "../components/Footer.astro"
import Naviguation from "../components/Naviguation.astro"
import BaseLayout from "../layouts/BaseLayout.astro";


const pageTitle = "blog";

---
<BaseLayout pageTitle={pageTitle}>
    <h1>mon blog</h1>
</BaseLayout>